.auth-container {
  background-image: url("./assets/images/background-image.png");
}
.bg-overlay {
  background: linear-gradient(rgba(47, 140, 96, 0.63), rgba(0, 0, 0, 0.62));
}
.auth-container .logo {
  width: 366px;
  height: 115px;
}
.auth-container .btn-color {
  background-color: #4aa35a;
}
.notFound-container {
  background-image: url("./assets//images//not-found-bg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.notFound-container .logo {
  width: 366px;
  height: 115px;
}
.notFound-container .paragraph {
  font-size: 20px;
  width: 380px;
  font-weight: 600;
}
.notFound-container .btn {
  background-color: #009247;
  width: 300px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
}
.notFound-container .icon {
  margin-right: 30px;
}
